<div>
    <h1>Catalog Page</h1>
    <form method="POST" action="/create">
        <label>Name <input type="text" name="name"></label>
        <label>S/N <input type="text" name="serial"></label>
        <input type="submit" value="Create">
    </form>
    <ul>
        {{items}}
    </ul>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="text" name="category">
        <input type="file" name="uploaded-file">
        <input type="submit" value="Upload">
    </form>
</div>