<form class="search" action="/housing/search" method="POST">
    <input type="search" name="search" placeholder="Search here...">
    <button type="submit">Search</button>
</form>
<section id="find-section">

    {{#if isSeached}}
        <!-- If there are any matching matches from the search, show each of them -->

        {{#each housings}}
        {{> housing}}
        {{else}}

        <!-- If there are no search matches, show: -->
        <div class="no-data-listing">
            <p class="no-offer">No match was found for the submitted type...</p>
        </div>
        {{/each}}
        
    {{/if}}
</section>