html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

section.card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

img {
    width: 100%;
}

section div.content {
    padding: 15px;
}

section div.content button {
    float: right;
    background: rgb(0, 153, 0);
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
}