body {
    background-color: #eee;
}

table {
    font-size: 1.3em;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table th, table td {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tbody tr:nth-child(even) {
    background-color: #fff;
}

table thead, table tbody {
    display: flex;
    flex-wrap: wrap;
}

table tr {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
}

table th, table td {
    flex-basis: 33%;
}

table thead {
    color: white;
    background-color: #333;
}

table td, th {
    padding: 5px;
}

@media all and (max-width: 800px) {
    table thead {
        display: none;
    }

    table tbody tr{
        flex-direction: column;
    }

    table tbody tr td:nth-child(1)::before {
        content: "First Name";
        font-weight: bold;
        margin-right: 10px;
    }

    table tbody tr td:nth-child(2)::before {
        content: "Last Name";
        font-weight: bold;
        margin-right: 10px;
    }

    table tbody tr td:nth-child(3)::before {
        content: "Job Title";
        font-weight: bold;
        margin-right: 10px;
    }
}