* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    height: 200px;
    width: 50px;
    margin: 0 15px;
}

img:hover{
    width: auto;
}