<form [formGroup]="form">
    <div class="form-group">
        <label for="email" [appHighlight]="true">Email: </label>
        <input type="text" name="email" id="email" formControlName="email">
        <ul *ngIf="form.get('email')!.invalid &&form.get('email')!.touched" class="errors">
            <li *ngIf="form.get('email')!.errors?.required">
                Email is required!
            </li>
    
            <li *ngIf="form.get('email')!.errors?.email">
                Email is invalid!
            </li>
        </ul>
        <br>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" formControlName="password">
        <div *ngIf="form.get('password')!.invalid && form.get('password')!.touched" class="errors">
            <div *ngIf="form.get('password')!.errors?.required">
                Password is required!
            </div>
            <div *ngIf="form.get('password')!.errors?.email">
                Password is invalid!
            </div>
            <div *ngIf="form.get('password')!.errors?.minlength">
                Password should be at least 6 characters long!
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="repeatPassword">Repeat Password: </label>
        <input type="password" name="repeatPassword" id="repeatPassword" formControlName="repeatPassword">
        <div *ngIf="form.get('repeatPassword')!.invalid && form.get('repeatPassword')!.touched" class="errors">
            <div *ngIf="form.get('repeatPassword')!.errors?.required">
                Repeat Password is required!
            </div>
            <div *ngIf="form.get('repeatPassword')!.errors?.email">
                Repeat Password is invalid!
            </div>
            <div *ngIf="form.get('repeatPassword')!.errors?.minlength">
                Repeat Password should be at least 6 characters long!
            </div>
            <div *ngIf="form.get('repeatPassword')!.errors?.sameValue">
                Passwords don't match!
            </div>
        </div>
    </div>
    <button>Submit</button>
</form>