body {
    padding: 20px;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

h1.page-title {
    font-size: 2em;
    text-transform: uppercase;
}