html{
    box-sizing: border-box;
    text-align: center;
}

*, *::before, *::after{
    box-sizing: inherit;
}

section{
    width: 250px;
    height: 250px;
    border: 2px dashed #23ca85;
}

p{
    width: 100%;
    border: 2px solid #0936ca;
    padding: 20px;
}