html, body {
    background-color: rgb(238, 238, 238);
    font-size: 16px;
}

main {
    float: left;
    width: 60%;
}

aside {
    float: right;
}

blockquote {
    font-family: Georgia, serif;
    border-left: 3px solid #717171;
    padding-left: 15px;
}

img {
    padding: 5px;
    border: 3px solid black;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

img.img1 {
    float: right;
}

img.img2 {
    float: left;
}

p.site-title {
    font-size: 1em;
    line-height: 1.2;
}

ul {
    list-style: square;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}