@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
ul {
    display: inline-block;
}

a {
    color: #262626;
    border-radius: 50%;
    background-color: #eee;
    padding: 25px;
}

ul li {
    font-size: 22px;
    display: inline-block;
    margin: 15px;
    list-style-type: none;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-google-plus:hover {
    color: #dd4b39;
}

.fa-linkedin:hover {
    color: #007bb6;
}

.fa-instagram:hover {
    color: #517fa4;
}